.host-info {
  justify-content: center;
  display: flex;
  margin-top: 24px;
}

.wrapper {
  width: 100%;
}

.message-field {
  border-radius: 8px;
  height: 32px;
  font-size: 16px;
  width: 40%;
  border: none;
}

.message-container {
  width: 100%;
  color: #fafafa;
  height: 75vh;
  overflow: scroll;
  display: flex;
  margin: 0px 16px;
  flex-direction: column;
}

.message {
  margin: 8px 0px;
}

.send-button {
  border-radius: 8px;
  background-color: #fff;
  height: 32px;
  margin-left: auto;
  font-weight: 600;
  margin-left: 16px;
  border: none;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
